/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html {
    font-size: 10px;
}

body {
    font-family: "Nunito Sans";
    overflow-x: hidden;
    
}

nav {
    width: 100vw;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    background-color: white;
}

#logo-image {
    width: 22rem;
    margin-left: 20px;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    margin: 15px 25px;
}

nav > ul > div {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    align-items: center;
}

.list-item {
    font-size: 2.25rem;
    opacity: 0.9;
    font-weight: 400;
    text-decoration: none;
    color: #1A1A1A;
}

#landing {
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 130vh;
    color: white;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 11rem;
}

h1 {
    font-size: 10rem;
    position: relative;
    top: 20rem;
    word-spacing: 1rem;
    font-weight: 700;
}

#landing p {
    font-size: larger;
    position: relative;
    top: 22rem;
    font-size: 3.5rem;
    line-height: 4rem;
}

#features {
    position: relative;
    top:11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
}

span {
    font-size: 4.25rem;
    text-align: center;
    border-bottom: #00B172 solid 5px;
    padding-bottom: 1.5rem;
    margin-top: 6rem;
    font-weight: 800;
}

.fatures-images {
    width: 15rem;
    margin-top: 4rem;
}

#features div {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

#features div > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h3 {
    color: #00B172;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

 p {
    font-size: 2.0rem;
    font-weight: 100;
    line-height: 3rem;
    word-spacing: 0.25rem;
    text-align: center;
    margin-top: 1.5rem;
}

#green {
    position: relative;
    top: 28rem;
    background-color:  #00B172;
    width: 100vw;
    height: 150vh;
    color:#FFF;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

#green h2 {
    font-size: 5rem;
    border-bottom: #FFF solid 5px;
    padding-bottom: 1.5rem;
    font-weight: 900;
}

#green > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    margin-top: 20rem;
}

#green h3 {
    color: #FFF;
    font-weight: bolder;
    font-size: 4rem;
}

#green p {
    text-align: left;
    margin-top: 4rem;
}

#green > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}

#green > div > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#green article {
    margin-top: 3rem;
    margin-bottom: 0rem;
}

#green > img {
    width: 40rem;
    margin-top: 12rem;
}

#green > div img {
    width: 18rem;
    height: 18rem;
}
